.header {
    background-color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header h1 {
    color: white;
}

.tableau {
    display: flex;
    width: 80vw;
    margin-left : 10vw;
    margin-top : 5vh;
    justify-content: space-around;
    align-items: space-around;

}
.tableau table 
{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid black;
}
.tableau th {
    padding: 8px;
    text-align: center;
    background-color: blue;
    color: white;
}

